@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box !important;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.8s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -15px) rotate(45deg);
}

.pointer {
    pointer-events: none;
}

.nav-sticky {
    position: sticky;
    top: 0px;
    background-color: var(--bg-color-skin);
    z-index: 23;
}

.digi {
    font-family: 'poppins', sans-serif;
    font-weight: 700;
}


nav ul li a {
    font-weight: 500;
    font-family: 'poppins', sans-serif;
}

nav ul li a:hover {
    color: var(--color-orange);
    transition: linear 0.4s;
}

.nav-btn {
    border: 2px solid var(--color-black);
    background-color: var(--bg-color-skin);
    font-size: 20px;
    font-weight: 500;
    font-family: 'poppins', sans-serif;
    border-radius: 5px;
    color: var(--color-black);
}

.nav-btn:hover {
    color: var(--color-white);
    background-color: var(--color-black);
    transition: linear 0.5s;
}

.ff-poppins {
    font-family: 'poppins', sans-serif;
}

.beforeline {
    background-color: var(--color-orange);
    width: 50px;
    height: 1px;
}

.afterline {
    background-color: var(--color-orange);
    width: 50px;
    height: 1px;
}

.afterline2 {
    background-color: var(--bgcolor-white);
    width: 50px;
    height: 1px;
}

.lh-73px {
    line-height: 73.2px;
}

.lh-24 {
    line-height: 24px;
}


.mw-602px {
    max-width: 602px;
}

.mw-586px {
    max-width: 570px;
}

.hero-btn {
    border: 2px solid var(--color-orange);
    padding: 10px 30px;
    color: var(--color-white);
    background-color: var(--bgcolor-orange);
    border-radius: 5px;
}

.hero-btn:hover {
    background-color: var(--bgcolor-white);
    color: var(--color-orange);
    transition: linear 0.5s;
}

.border_box {
    border: 2px solid #F9F9F9;
    border-radius: 15px;
    padding: 12px;
}

.border_box:hover {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);

}

.mw-325px {
    max-width: 325px;
}

.mw-544px {
    max-width: 544px;
}

.mw-491px {
    max-width: 491px;
}

.mw-570px {
    max-width: 570px;
}

.mw-530px {
    max-width: 530px;
}

.mw-338px {
    max-width: 338px;
}

.mw-340px {
    max-width: 340px;
}

.mw-270 {
    max-width: 270px;
}


.butns {
    border: none;
    border-radius: 10px;
    background-color: var(--bgcolor-white);
    color: var(--color-lightgrey);
}

.butns:hover {
    background-color: var(--bgcolor-orange);
    color: var(--color-white);
    transition: linear 0.5s;
}

.nine_image {
    top: 10%;
    left: 15%;
    opacity: 0;
    z-index: 1;
    background-color: var(--bgcolor-orange);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80%;
    width: 70%;
    transition: 1s;
}

:hover.nine_image_hover .nine_image {
    opacity: 0.6;
    transition: linear all 0.8s;
}

.box-brdr {
    border: 2px solid #F4F4F4;
    border-radius: 10px;
    padding: 10px;
}

.box-brdr:hover {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.mw_125px {
    max-width: 125px;
}

.mh-108px {
    height: 108px;
}

.border_right {
    border-right: 2px white solid;
}

.border_ri {
    border-right: 2px white solid;
}

.orng-box {
    border: none;
    border-radius: 10px;
    background-color: var(--bgcolor-orange);
    padding: 60px 40px;
}

.img-brdr {
    border: none;
    border-radius: 10px;
}

.box-2 {
    border: none;
    border-radius: 10px;
    background-color: var(--bgcolor-white);
}

.box-2:hover {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);

}

.input-border {
    border: none;
    padding: 10px;
    background-color: var(--bgcolor-white);
    border-radius: 5px;
}

.input-brdr {
    border: none;
    border-radius: 5px;
    outline: none !important;
    max-width: 100%;
}

.subscribe-btn {
    border: 2px solid var(--color-orange);
    padding: 10px 30px;
    color: var(--color-white);
    background-color: var(--bgcolor-orange);
    border-radius: 5px;
}

.bg-img {
    background-image: url("../image/bg-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer ul li a {
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
}

footer h2 {
    font-weight: 600;
    font-family: 'poppins', sans-serif;
}

.hover_img {
    cursor: pointer;
}

:hover.hover_img path {
    fill: var(--color-orange);
    background-color: var(--bgcolor-orange);
}

:hover.hover_img circle {
    fill: var(--color-white);
}

.line {
    max-width: 100%;
    background-color: white;
    height: 2px;
}

.slide-box {
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: var(--bgcolor-white);
}

.slick-dots li.slick-active button::before {
    width: 45px !important;
    height: 15px !important;
    content: " " !important;
    background-color: #e41030;
    border-radius: 10px;
    margin-top: 10px;
    transition: all .5s linear;
    cursor: pointer;
}

.slick-dots li button::before {
    width: 15px !important;
    height: 15px !important;
    content: " " !important;
    background-color: #b0b2b5;
    border-radius: 6px;
    margin-top: 10px;
    transition: all 555ms linear;
    cursor: pointer;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    width: 20px;
    height: 20px;
    content: " " !important;
    display: flex !important;
    align-items: start !important;
    justify-content: start !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.trans-x {
    transform: translate(-50px, 30px);
}

.trans-x2 {
    transform: translate(50px, 30px);
}

:hover.next-brdr path {
    fill: var(--color-orange);
}

:hover.next-brdr circle {
    stroke: var(--color-orange);
}

:hover.prev-brdr path {
    fill: var(--color-orange);
}

:hover.prev-brdr circle {
    stroke: var(--color-orange);
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--bgcolor-orange);
    color: var(--color-white);
    cursor: pointer;
    border-radius: 100%;
    padding: 10px;
}



@media (max-width:992px) {
    #mobileview:checked~.nav_bar {
        left: 0;
        transition: 1s;
    }

    .nav_bar {
        justify-content: center;
        position: fixed;
        top: 0;
        right: -100%;
        left: 100%;
        margin-top: 60px;
        height: 100%;
        background-color: var(--bg-color-skin);
        flex-direction: column;
        width: 100%;
        transition: all 0.8s linear;

    }

    .fev-icon {
        height: 60px;
        width: 40px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .space {
        gap: 30px;
    }

    .f-c-reverse {
        flex-direction: column-reverse;
    }

    .lh-73px {
        line-height: 50px;
        padding-top: 20px;
    }

    .lh-24 {
        line-height: 24px;
    }

    .next-brdr {
        display: none;
    }

    .prev-brdr {
        display: none;
    }
}

@media (max-width:768px) {

    .border_ri {
        border-right: 0px white solid;
    }

    .brdr-btm {
        border-bottom: 2px solid white;
    }
}

@media (max-width:576px) {

    .orng-box {
        border: none;
        border-radius: 10px;
        background-color: var(--bgcolor-orange);
        padding: 10px 20px;
    }

    .brdr-btm {
        border-bottom: 2px solid white;
    }

    .flex-smcolumn {
        flex-direction: column;
    }

    .pb-3-sm {
        padding-bottom: 20px;
    }
}

@media (max-width:1200px) {
    .overflowx-scrol {
        overflow-x: scroll;
    }
}